* {
    padding: 0;
    margin: 0;
}

.body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-image: image("background.jpg");
}

.floating-menu {
    border: 1px solid black;
    margin-left: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 10px;
}

.floating-menu button {
    border-style: none;
    background-color: white;
    padding: 10px;
}


#btnDownload:hover {
    background-color: rgb(221, 215, 215);
    border-radius: 10px;
}

#btnFind:hover {
    background-color: rgb(221, 215, 215);
    border-radius: 10px;
}

#btnClear:hover {
    background-color: rgb(221, 215, 215);
    border-radius: 10px;
}

.add-location {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    z-index: 2000;
}

.add-location.hidden {
    display: none;
}

.add-location-box {
    background-color: white;
    padding: 25px;
    border-radius: 16px;
    width: 330px;
    color: black;
    border: 1px solid black;
}

.add-location-box input {
    width: 324px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    color: black;
    font-size: 14px;
    border: 1px solid black;
}

.add-location button {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    background-color: aqua;
    color: black;
    border: 1px solid black;
}